.form_page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 62px);
  justify-content: space-between;
}

.content {
  margin: 0 auto;
  max-width: 470px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  margin: 0px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.form_container {
  padding: 27px;
  border: 1px solid #b9b6b6;
  margin-top: 32px;
  border-radius: 18px;
}

.ant-btn-home {
  margin: 20px;
  width: 200px;
  text-decoration: none;
}

.home_container > a {
  text-decoration: none;
}

.row {
  display: flex;
  gap: 15px;
}

.ant-input {
  border-radius: 20px;
  padding: 8px 13px;
  width: 405px;
}

.ant-btn {
  padding: 17px 20px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 574px) {
  .heading {
    font-size: 16px;
  }
  .form_container {
    display: flex;
    justify-content: center;
  }
  .row {
    flex-direction: column;
    gap: 0px;
  }
  .content {
    margin: 10px;
  }
}

@media only screen and (max-width: 574px) {
  .heading {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    width: fit-content;
    margin: 0 auto;
  }
  .ant-input {
    width: auto;
  }
}
